<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo2.css">
    <title>Document</title>
</head>
<body>
    <div class="div">
        <label for="">seleccione<input type="file"> </label>
        <br><br>
        <button onClick="alert(' Su archivo se envio correctamente')">Enviar archivo</button>
        <br> <br>
        
    </div>
</body>
</html>