/* Le ponemos estilos al body  */
body{
    padding:0px;
    margin:0px;
    background-color: rgb(0,25,55);
    }
/* Le modificamos las caracteristicas al Primer div */
.div1{
    margin-bottom:20px ;
    margin-top: 20px;
    margin-right: 50px; 
    margin-left: 600px; 
    border: 1px solid black;
    width: 600px;
    display: inline-block;
    float: none;
    position: static;
    background-color: white;
}
/* Le modificamos el color de fondo de los div en general */
div{
    background-color: white;
}
/* Personalisamos el Boton */
.boton{ 
    align-self: center;
    margin-top:85px;
    margin-bottom: 10px;
    background-color: rgba(41, 223, 66, 0.918);
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid black;
}
/* Le añadimos hover al boton */
.boton:hover{
    color: #183eba;
    background-color: #ffffff;
}
/* Le pusimos estilos al head */
.divhead{
    background-color: rgb(14,65,127);
}
header{
    background-color: rgb(14,65,127);
}
/* Modificamos el Titulo */
.Titulo{
    
    background-color: rgb(14,65,127);
    height: 100px;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
}
.titulotexto{
    background-color: rgb(14,65,127);
    align-self: center;
     color: rgb(255,255,255);
     float: right;
    margin-right: 780px; 
    margin-top : 30px;;
     text-align: center; 
}
/* Modificamos La imagen del Logo */
.imgfedesoft{
    background-color: rgb(14,65,127);
    height: 80px;
    margin-top: 15px;
    margin-left: 350px;
}
/* Se le añadio estilos al div2 que es donde esta el botón */
.div2{
    background-color: rgb(0,25,55);
    text-align: center;
}


